<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ site.title }} <span class="blink">_</span></h1>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>> END OF LINE. © 2025 ALEXEIBEX.</p>
        </footer>
    </div>
</body>
</html>
